---
import { Icon } from "astro-icon";
import config from "~/config/config.json";
---

<section class="bg-primary-100 dark:bg-slate-800">
  <div
    class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium"
  >
    <span class="font-bold">
      <Icon name="tabler:pin" class="w-5 h-5 inline-block align-text-bottom" />
      Location:</span
    > Vision Quest - 2510 47th St Suite A2, Boulder, CO 80301
  </div>
</section>
